<h1>
  เพิ่มสินค้า
</h1>

<div class="center">
  <form>
    <mat-form-field>
      รหัสสินค้า : <input matInput>
    </mat-form-field><br>
    <mat-form-field>
      ชื่อสินค้า : <input matInput>
    </mat-form-field><br>
    <mat-form-field>
      ประเภท : <input matInput>
    </mat-form-field><br>
    <mat-form-field>
      ราคา : <input matInput>
    </mat-form-field><br>
    <mat-form-field>
      จำนวน : <input matInput>
    </mat-form-field><br>
    <button mat-stroked-button color="primary">เพิ่ม</button>
  </form>
</div>
