<h1>
  เพิ่มสินค้า
</h1>
<div class="row center-lg center-md start-sm start-xs">
  <div class="col-lg col-md col-sm col-xs">
      <form action="http://localhost:8080/withdraw" method="POST" target="_blank">
          <mat-form-field>
            รหัสสินค้า : <input matInput>
          </mat-form-field><br>
          <mat-form-field>
            ชื่อสินค้า : <input matInput>
          </mat-form-field><br>
          <mat-form-field>
            ประเภท : <input matInput>
          </mat-form-field><br>
          <mat-form-field>
            ราคา : <input matInput>
          </mat-form-field><br>
          <mat-form-field>
            จำนวน : <input matInput>
          </mat-form-field><br>
          <button mat-stroked-button color="primary">เพิ่ม</button>
      </form>
  </div>
</div>